*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 7px;
  display: flex;
  justify-content: center;  
  align-items: flex-end;
  gap: 30px;
  
}


.title {
  font-family: "oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: flex;
  justify-content: space-between;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;  
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px; 
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  padding-bottom: 8px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff ;
  border-right:none ;
  border-left: none;
  border-bottom: 1px solid #fff ;;
  outline-width: 0;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  width: 225px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;  
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  content: "";
  align-self: center;
  margin: auto;
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.content__video-card {
  display: flex;
  width: 394px;
  justify-content: space-between;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-description-container {
  color: #fff;
}

.content__video-card-title {
  font-family: "oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  height: 34px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;  
}

.search-form__submit-button {
  padding: 0 73.5px;
  align-self: flex-end;
}

.more-button {
  padding: 0 146.5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

